* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

body {
    background: #0f0f0f;
    color: white;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    position: fixed;
    width: 100%;
    background: #111;
}
nav .logo { font-size: 24px; font-weight: bold; }
nav ul { list-style: none; display: flex; }
nav ul li { margin-left: 25px; }
nav ul li a { color: white; text-decoration: none; }

/* HOME */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 50px;
}
.home-text h1 { font-size: 50px; }
.home-text span { color: #00eaff; }
.profile-img {
    width: 280px;
    border-radius: 50%;
}
.btn {
    background: #00eaff;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

/* ABOUT */
.about, .skills, .projects, .contact {
    padding: 120px 50px;
    text-align: center;
}

/* SKILLS */
.skill-box span {
    display: inline-block;
    background: #222;
    color: #00eaff;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 8px;
}

/* PROJECTS */
.project-card {
    background: #1a1a1a;
    padding: 20px;
    margin: 20px auto;
    width: 70%;
    border-radius: 10px;
}
.project-card a {
    color: #00eaff;
    text-decoration: none;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
}
.animated-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #1e1e1e, #0c0c0c);
    overflow: hidden;
    z-index: -1;
}

.bubble {
    position: absolute;
    bottom: -150px;
    width: 20px;
    height: 20px;
    background: rgba(0, 255, 255, 0.5);
    border-radius: 25%;
    animation: rise 10s infinite ease-in;
}

@keyframes rise {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-1200px) scale(1.5);
        opacity: 0;
    }
}

